@mixin xsmall-screens{
  @media only screen and (max-width:320px){
  @content;
  }

}
@mixin small-screens{
  @media only screen and (max-width:480px){
    @content;
  }

}
@mixin medium-screens{
  @media only screen and (max-width:680px){
    @content;
  }

}
@mixin large-screens{
  @media only screen and (max-width:960px){
    @content;
  }

}

//This is a dummy anchor that you can give them zero width/height
//and hidden visibility to ensure that these anchors don't affect how your page is displayed.
//When the user clicks one of the links in your fixed navigation bar,
//the window will scroll to the top of the dummy anchor
@mixin anchor{
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -95px;
  left: 0;
  visibility: hidden;
}

@mixin navbar-fixed{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

}

@mixin google-fonts($font){
  $font:unquote($font);
  @import url(https://fonts.googleapis.com.css?family=#{$font});
}


@mixin warning{
  background-color: orange;
  color: white ;

  &:hover{
    background-color: lighten(orange,30%);
  }

}

@mixin large-text{
  font:{
    size: 40px;
    weight: bold ;
  }
}

@mixin rounded($radius:6px) {
  border-radius:$radius;
}

@mixin box($radius : 6px, $border :1px solid black){
  @include rounded($radius);

  border: $border;

}

@mixin box-shadow($shadows...){
  box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
}

@mixin fancy-links{
  a{
    font-style :italic;
    text-decoration: none;
  }
}

@mixin apply-to-ie-6{
  * html{
    @content ;
  }
}
