@mixin warning{
  background-color: orange;
  color: white ;

}

@mixin large-text{
  font:{
    size: 40px;
    weight: bold ;
  }
}

@mixin rounded{
  border-radius:6px;
}

@mixin box{
  @include rounded;
  background-color: #000088;

}

@mixin fancy-links{
  a{
    font-style :italic;
    text-decoration: none;
  }
}
