@import "functions";
@import "variables" ;
@import "mixins";


@include google-fonts("Alegreya+Sans");
@include google-fonts("Titillium+Web");

@include fancy-links;


body {
  font-family: $text-font;
  color: $text-color;
  font-size:em(18px) ;

	@include large-screens{
		font-size: 120%;
	}

}

span{
	color: $var-value-Color;
}

.featureBorder{
	border: $simpleBorder;
	margin-top: 5px;
	padding: 5px;
}

.sublimeColor{
	background-color: $sublime-color;
	color: white;
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}


h1{
	@include large-text;
}


a {
	color: $link-color;

	&:hover{
		color: darken($link-color,15%);
	}
}

.warning-button{
@include warning;
}

@include apply-to-ie-6{
	body{
		color: #000088;
	}
}

#header {
	@include box-shadow($shadow1,$shadow2);
	@include box($border :1px solid pink);
	line-height: $header-height;


  #main-menu {

	li{
		display: inline-block;
	}
	a{
		color:$menu-item-color;
		padding: 6px 8px;
		border-bottom: 1px solid transparentize(#fefefe,1);
		transition: border-bottom 0.5s;
		transition-timing-function: ease-in-out;

		&:hover{
			border-bottom: 1px solid opacify(#fefefe,0.5);
		}

	}
  }
  
  #logo {

  }
}

#main {
	width: $content-width;
	@include large-screens {
		width: auto;
		max-width: $content-width;
	}
	margin-left: auto;
	margin-right: auto;

	#content {
		display: inline-block;

	}


	.sidebar {
		display: inline-block;
		width:2 * col-width();
		background-color: lightgray;
	}
	ul{
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		display: block;
		margin: 0;
		padding: 0;

		&:hover {
			background-color: #efefef;
		}
	}

}
.alignCenter {
	text-align: center;
}

#footer {

	height: $footer-height ;
	background-color:$ternary-color;
}
